.info-box{
    margin-left: 360px;
    margin-right: 360px;
}

.presentation { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.one {
    grid-area: 2 / 2 / 4 / 3;
}
.two {
    grid-area: 2 / 3 / 3 / 4;
}
.three {
    grid-area: 3 / 3 / 4 / 4;
}

.presentation h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.presentation p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.avatar {
    background-image: url(./luffy.jpeg);
}

.round-avatar{
    border-radius: 30%; /* Use 50% for a circular shape */
    width: 300px; /* Adjust the width as needed */
    height: 300px; /* Make height the same as width for a perfect circle */
    display: block;
}